.Chat {
  flex: 2.2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
    background-color: rgb(44, 44, 44);
    .arrow {
      display: none;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 1.2rem;
          font-weight: bold;
        }

        p {
          font-size: 0.8rem;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .icon {
      display: flex;
      gap: 20px;

      img {
        width: 1.3em;
        height: 1.3rem;
      }
    }
  }
  .center::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }

  .center::-webkit-scrollbar-thumb {
    background-color: #dddddd50;
    border-radius: 20px;
  }
  .center {
    flex: 1;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url("./background.png");
    gap: 20px;

    .message {
      display: flex;

      &.own {
        max-width: 70% !important;
        align-self: flex-end;

        .texts {
          p {
            background-color: rgb(0, 92, 75);
          }
          span {
            align-self: flex-start;
          }
        }
      }
      &.user {
        max-width: 70%;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 250px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px 10px;
          background-color: rgb(54, 54, 54);
          border-radius: 0.8rem;
        }
        span {
          font-size: 0.8rem;
          align-self: flex-end;
        }
      }
    }
  }

  .bottom {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a5a5a5;
    gap: 10px;
    background-color: rgb(44, 44, 44);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .icon {
      display: flex;
      gap: 20px;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    input {
      flex: 1;
      background-color: rgb(44, 44, 44);
      border: none;
      outline: none;
      color: white;
      border-radius: 10px;
      padding: 10px 30px;
      margin: 0 10px;
      width: 30vw;
      font-size: 1rem;
      &:disabled {
        background-color: rgb(44, 44, 44);
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }
    .send-btn {
      background-color: rgb(0, 92, 75);
      border: none;
      outline: none;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        background-color: rgba(0, 92, 75, 0.667);
        cursor: not-allowed;
      }
    }
  }
}
@media (min-width: 150px) and (max-width: 1000px) {
  .Chat {
    .top {
      padding: 10px;
      .arrow {
        width: 35px;
        height: 35px;
        font-size: 1.4rem;
        font-weight: 900;
        text-align: center;
        margin-left: -0.4rem;
        margin-right: -1rem;
        display: inline-block;
        padding: 0 5px 20px 5px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.299);
        &:hover {
          background-color: rgba(255, 255, 255, 0.299);
        }
      }
      .user {
        gap: 5px;
        img {
          width: 40px;
          height: 40px;
        }
        .texts {
          gap: 0;
          span {
            font-size: 1rem;
          }
          p {
            font-size: 0.55rem;
          }
        }
      }
      .icon {
        gap: 20px;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    .center {
      gap: 5px;

      .message {
        .texts {
          p {
            font-size: 0.8rem;
          }
        }
        .texts {
          img {
            height: 170px;
          }
          p {
            padding: 10px 15px;
          }
          span {
            font-size: 0.6rem;
            color: rgba(255, 255, 255, 0.587);
          }
        }
      }
    }
    .bottom {
      .icon {
        gap: 10px;
      }
      img {
        &.pic {
          margin-left: 2rem;
        }
        &.cam,
        &.mic {
          display: none;
        }
      }
      input {
        padding: 0;
        padding: 0 10px;
      }
      .emoji {
        position: absolute;
      }
    }
  }
  .hidden {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 799px) {
  .Chat {
    .top {
      padding: 20px;
      .arrow {
        width: 40px;
        height: 40px;
        font-size: 1.8rem;
        margin-right: -7rem;
        margin-left: -1.3rem;
      }
      .user {
        gap: 8px;
        img {
          width: 50px;
          height: 50px;
        }
        .texts {
          span {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.55rem;
          }
        }
      }
      .icon {
        gap: 20px;
        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
    .center {
      gap: 8px;

      .message {
        .texts {
          p {
            font-size: 0.9rem;
          }
        }
        .texts {
          p {
            padding: 15px;
          }
          span {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .Chat {
    .top {
      .arrow {
        display: none;
      }
    }
  }
}
@media (min-height: 650px) and (max-height: 720px) {
  .Chat {
    .center {
      flex: 0.85;
    }
  }
}
